html {
    font-size: 10px;
}

body, html {
    background: #c2ccd4;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.drum svg {
    display: block;
    margin: auto;
    height: 400px;
}

.animation {
    animation-duration: 0.1s;
    animation-name: rollDrum;
}

@keyframes rollDrum {
    from {
        transform-origin: 50% 50%;
        transform: scale(0.99);
    }
    to {
        transform-origin: 50% 50%;
        transform: scale(1.05);
    }
}

.keys {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

/* kbd {
    display: block;
    font-size: 3rem;
} */

.sound {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: #ffc600;
}